@media only screen and (max-width: 640px) {
  .ant-modal-content {
    border-radius: 16px 16px 0px 0px !important;
    left: 50%;
    margin-left: -50vw;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }

  .ant-alert {
    width: 92vw !important;
    position: fixed;
    border-radius: 12px;
    margin-left: 16px !important;
    margin-top: 20px !important;
  }

  #registerpage .ant-alert {
    width: 90% !important;
  }
}

.ant-modal-content {
  border-radius: 16px;
}

.custom-alert.ant-alert.ant-alert-success {
  margin: 80px 25vw;
  width: 50vw;
  z-index: 50;
}

.custom-alert.ant-alert.ant-alert-error {
  margin: 30px 25vw;
  width: 50vw;
  z-index: 50;
}

.ant-alert {
  width: 30vw;
  position: absolute;
  margin: -2vh 38vw;
  border-radius: 12px;
  padding: 16px 24px;
}

.ant-alert-info {
  background-color: #73ca5c;
  border: none;
}

.ant-alert-success {
  background-color: #73ca5c;
  border: none;
}

.ant-alert-error {
  background-color: #FA2C5A;
  border: none;
}

.ant-alert-message {
  color: #ffffff;
}

.ant-alert-close-icon svg {
  color: white;
}

.ant-upload-picture-card-wrapper.upload-img {
  display: flex !important;
  justify-content: center;
}

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  border: none !important;
}

.ant-select .ant-select-selector {
  border-radius: 16px !important;
  padding: 10px 16px !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100% !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selection-search-input {
  height: 100% !important;
  padding: 10px 6px !important;
  font-size: 14px;
}

.ant-select-selection-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8a !important;
  margin-left: 4px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #8a8a8a;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* FF 4-18 */
  color: #8a8a8a;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* FF 19+ */
  color: #8a8a8a;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #8a8a8a;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8a8a8a;
}
input::placeholder,
textarea::placeholder {
  /* modern browser */
  color: #8a8a8a;
}

input[type="radio"] {
  background-color: #d0d0d0;
  color: purple;
  width: 1.15em;
  height: 1.15em;
  border: #d0d0d0;
}

.slick-active img {
  padding: 0 !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #7126B5;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #7126B5;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  width: 100%;
}

input:focus, textarea:focus {
  box-shadow: none !important;
}

#loginpage .ant-form-item-required::before,
#registerpage .ant-form-item-required::before {
  display: none;
}

#loginpage .ant-alert-error .ant-alert-message,
#registerpage .ant-alert-error .ant-alert-message {
  color: #D00C1A !important;
}

#loginpage .ant-alert-success .ant-alert-message,
#registerpage .ant-alert-success .ant-alert-message {
  color: #FFFFFF !important;
}

#loginpage .ant-alert, #registerpage .ant-alert {
  padding: 12px 24px !important;
}
